.card {
  background-color: #ecebeb;
}

.input-field .prefix.active {
  color: #ec6f75;
}

input:not([type]):focus:not([readonly]) {
  border-bottom: 1px solid #ec6f75;
  box-shadow: 0 1px 0 0 #ec6f75;
}
